#graphpanel {
	border: solid black thin;
	height: 500px;
	width: 800px;
}

#PropPanel {
	border: solid black thin;
	height: 500px;
	width: 800px;
}
.btn-group button {
	color: white; /* White text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
  }
  

.btn-group:after {
	content: "";
	clear: both;
	display: table;
  }
  